In [17]:
this_set = {"moon","runa","hena",1,2,3,"runa",2}

In [11]:
this_set

{1, 2, 3, 'hena', 'moon', 'runa'}

In [13]:
this_set[2]

TypeError: 'set' object is not subscriptable

In [16]:
for x in this_set:
    if x == 'moon':
        print(x)

moon

In [18]:
list1 = list(this_set)
list1

[1, 'hena', 2, 3, 'moon', 'runa']

In [21]:
list1.index('moon')

4

In [26]:
list1.reverse()
list1

['runa', 'moon', 3, 2, 'hena', 1]

In [30]:
list1.extend([2,3,4,5,6])

TypeError: '<' not supported between instances of 'int' and 'str'

In [22]:
this_set.add('another')
this_set

{1, 2, 3, 'another', 'hena', 'moon', 'runa'}

In [24]:
this_set.discard(3)

In [25]:
this_set

{1, 2, 'another', 'hena', 'moon', 'runa'}

In [29]:
this_set.update(['x','y','z'])
this_set

{1, 2, 'another', 'hena', 'moon', 'runa', 'x', 'y', 'z'}

In [31]:
list2 = [3,46,2,5,6,3,5 ]
list2.sort()
list2

[2, 3, 3, 5, 5, 6, 46]

In [32]:
listtoset = set(list2)
listtoset

{2, 3, 5, 6, 46}